/*--RESET--*/

* {

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    font: inherit;
}

input, button {
    background: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*--BODY--*/

body {
    background: #fff;
    color: #555;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.725;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
}

#menu a, .button, .tags {

    font-weight: 400;
    font-size: 17px;
}

p, .post ul, .post ol {
    margin: 0 0 5% 0;
}

a {
    color: #2a7cb2;
    text-decoration: none;
    font-weight: inherit;

    -webkit-transition: color .15s ease-out, border-bottom-color .15s ease-out;
       -moz-transition: color .15s ease-out, border-bottom-color .15s ease-out;
         -o-transition: color .15s ease-out, border-bottom-color .15s ease-out;
            transition: color .15s ease-out, border-bottom-color .15s ease-out;
}

a:hover {
    color: #2a7cb2;
}

p a {
    border-bottom: 1px solid #eee;
}

p a:hover {
    border-bottom-color: #212121;
}

strong {
    font-weight: 400;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 5% 0;
    color: #212121;
}

h1 {font-size: 34px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}

a h1, a h2, a h3, a h4, a h5 {
    font-weight: 400;

    -webkit-transition: color .15s ease-out;
       -moz-transition: color .15s ease-out;
         -o-transition: color .15s ease-out;
            transition: color .15s ease-out;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5 {
    color: #3498db;
}

.quote {
    margin: 0 0 15px 0;
}

blockquote {
    margin: 0 0 15px 0;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    font-style: italic;
}

ul, ol {
    margin: 0 0 15px 0;
    padding-left: 25px;
}

ul {list-style: square;}
ol {list-style: decimal;}

sup {vertical-align: super;}
sub {vertical-align: sub;}

hr {
    display: block;
    clear: both;
    margin: 30px auto;
    width: 50%;
    height: 2px;
    background: #eee;
    color: #eee;
}

pre, code {
    overflow-x: auto;
    margin: 0 0 5% 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    font: 400 15px/24px monospace;
}

pre code {
    padding-left: 0;
    border: none;
    font-size: 90%;
}

pre {
    padding: 15px 20px;
}

code {
    margin: 0;
}

/*--CLEARFIXES--*/

.post:after {
    display: block;
    clear: both;
    content: '';
}

/*--HEADER--*/

header {
    position: relative;
    overflow: hidden;
    padding: 1em;
    width: 100%;
    border-bottom: 2px solid #eee;
    background: #fff;
    text-align: center;
}

/*--MENU--*/

#menu {
    display: inline-block;
    margin: 1px 0;
}

#menu a {
    margin-left: 15px;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
}

#menu a:hover {
    color: #212121;
}
#menu a.current {
    color: #212121;
}

/*--PAGE--*/

#page {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 640px;
    width: 80%;
}

/*--WRAPPER--*/

.wrapper {
    padding: 7.5% 0;
    border-top: 2px solid #eee;
}

.wrapper:first-child {
    padding-top: 0;
    border-top: none;
}

/*--POSTS--*/

.post {
    display: block;
    width: 100%;
}

.post p img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    max-width: 100%;
    border: 1px solid #eee;
}

.post .svg-container {
    text-align: center;
    margin-bottom: 5%;
    max-width: 100%;
}

.post .svg-container object {
    width: 100%;
}

/*--POST DATA--*/

.post-data {
    margin-top: 25px;
    width: 100%;
}

/*--PAGINATION--*/

.pagination {
    text-align: center;
}

.pagination a {
    min-width: 30px;
    max-height: 30px;
    text-align: center;
}

/*--FOOTER--*/

footer {
    margin: 4em 0 0;
    padding: 2em 0;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}

/*--BUTTONS--*/

.button {
    display: inline-block;
    padding: 10px;

    border-radius: 4px;
    background-color: #212121;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 10px;

    -webkit-transition: background-color .15s ease-out;
       -moz-transition: background-color .15s ease-out;
         -o-transition: background-color .15s ease-out;
            transition: background-color .15s ease-out;
}

.button:hover {
    background-color: #3498db;
    color: #fff;
}

.button.inactive {
    background-color: #ccc;
    color: #fff;
}

/*--404--*/
.search-goog input {
    padding: 10px;
    border: 2px solid #ddd;   
}

.search-goog input[type=submit] {
    background-color: #ddd;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /*--PAGE--*/

    #page, .wrapper {
        margin: 0;
        max-width: 100%;
        width: 100%;
        padding: 30px 0;
    }

    /*--WRAPPER--*/

    .wrapper {
        padding: 10% 0;
    }

    /*--POSTS--*/

    .post, .post-data {
        margin: 0 auto;
        max-width: 640px;
        width: 80%;
    }

    .post-data {
        margin: 15px auto 0 auto;
    }

}

@media only screen and (max-width: 640px) {

    /*--RESET--*/

    * {
        -webkit-text-size-adjust: none;
           -moz-text-size-adjust: none;
                text-size-adjust: none;
    }

    /*--BODY--*/

    body {
        font-size: 16px;
    }

    h1 {font-size: 28px;}
    h2 {font-size: 24px;}
    h3 {font-size: 20px;}
    h4 {font-size: 16px;}
    h5 {font-size: 15px;}

}


/*--ACCESSIBILITY--*/
.outscreen
{
    position: absolute;
    left: -1000px;
    width: 900px;
}