---
layout: default
title: José Manuel Pérez
description: Personal web site of frontend engineer JMPerez. Web development, standards, design patterns and some other good practices.
---

{% for post in paginator.posts %}
    <div class="wrapper">
        <div class="post">
            <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
            </a>
            <div class="post-data" itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date_to_string }}
            </div>
            {{ post.excerpt }}

            <div class="post-data">
                <a class="button" href="{{ post.url }}">Continue reading<span class="outscreen"> about {{ post.title }}</span>...</a>
            </div>
        </div>
    </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="previous">Previous</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" class="previous" rel="prev">Previous</a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    {% if paginator.previous_page %}
     ·
    {% endif %}

    <a href="/page{{ paginator.next_page }}/" class="next" rel="next">Next</a>
  {% endif %}
</div>
