---
layout: default
---

<div class="wrapper" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post">
        {% if post.url %}
        <a href="{{ post.url }}">
            <h1 itemprop="headline">{{ page.title }}</h1>
        </a>
        {% else %}
        <h1 itemprop="headline">{{ page.title }}</h1>
        {% endif %}
        <div class="post-data" itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date_to_string }}
        </div>
        {% if page.image %}
        <img itemprop="image" src="{{ page.image }}" alt="{{ page.title}}" style="display:none">
        {% endif %}
        <div itemprop="articleBody">
        {{ content }}
        </div>
        {% if page.tags.size > 0 %}
        <div class="tags">Tagged as
            <ul class="tag-list">{% for post_tag in page.tags %}
                <li><a href="/tags/#{{ post_tag }}">{{ post_tag }}</a></li>
            {% endfor %}</ul>
        </div>
        {% endif %}

    </div>
    <hr />
</div>
