/*--RESET--*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

input,
button {
    background: none;
}

/*--BODY--*/

body {
    background: #fff;
    color: #555;
    font-family: Georgia, Times;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    line-height: 1.725;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; /* fixes a too large font issue in horizontally scrollable <pre> on webkit */
}

@media(max-width: 800px) {
    body {
        font-size: 17px;
    }
}

@media(max-width: 600px) {
    body {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: #212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 1em;
}

h2,
h3,
h4,
h5 {
    margin-top: 2em;
}

#menu a,
.button {
    font-size: 1em;
    font-weight: 400;
}

p,
.post ul,
.post ol,
iframe,
video,
amp-video,
amp-vimeo,
amp-youtube {
    margin: 0;
    margin-bottom: 1em;
}

twitterwidget {
  margin-bottom: 1em !important;
}

a {
    color: #2a7cb2;
    font-weight: inherit;
    text-decoration: none;
    transition: color .15s ease-out, border-bottom-color .15s ease-out;
}

a:hover {
    color: #2a7cb2;
}

p a {
    border-bottom: 1px solid #eee;
}

p a:hover {
    border-bottom-color: #212121;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    font-size: 1.7em;
}

h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: 400;
}

h3 {
    color: #666;
    font-size: 1.4em;
    font-weight: 400;
}

h4 {
    font-size: 1.18em;
}

h5 {
    font-size: 1em;
}

a h1,
a h2,
a h3,
a h4,
a h5 {
    transition: color .15s ease-out;
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5 {
    color: #3498db;
}

.quote {
    margin: 0 0 15px 0;
}

blockquote {
    border-left: 2px solid #ccc;
    font-style: italic;
    margin: 0 0 15px 0;
    padding-left: 20px;
}

ul,
ol {
    margin: 0 0 15px 0;
    padding-left: 25px;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

hr {
    background: #eee;
    color: #eee;
    clear: both;
    display: block;
    height: 2px;
    margin: 30px auto;
    width: 50%;
}

pre,
code {
    color: #333;
    font-family: Courier, Menlo, Monaco;
    font-size: 0.8em;
    letter-spacing: 0px;
    overflow-x: auto;
}

pre {
    padding: 0.8em 1em;
}

code {
    margin: 0;
}

/*--CLEARFIXES--*/

.post::after {
    display: block;
    clear: both;
    content: '';
}

/*--HEADER--*/

.main-header {
    background-color: #005689;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
    padding: 1em;
    position: relative;
    text-align: center;
    width: 100%;
}

/*--MENU--*/

#menu {
    display: inline-block;
    margin: 1px 0;
}

#menu a {
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    padding: 20px 10px;
    text-transform: uppercase;
}

#menu a:first-child {
    margin-left: 0;
}

#menu a[aria-current] {
    font-weight: bold;
}

/*--PAGE--*/

#page {
    margin: 0 auto;
    max-width: 40em;
    padding: 3em 2em;
    position: relative;
}

.videoWrapper {
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    position: relative;
}

.videoWrapper iframe,
.videoWrapper amp-youtube {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

twitterwidget {
    margin-left: auto;
    margin-right: auto;
}

/*--WRAPPER--*/

.wrapper {
    border-top: 2px solid #eee;
    padding: 3em 0;
}

.wrapper:first-child {
    border-top: none;
    padding-top: 5%;
}

.posts-list h2 {
    margin-top: 0;
}

/*--POSTS--*/

.post {
    display: block;
    width: 100%;
}

.post div[itemprop=articleBody] > p:first-child {
    color: #333;
}

.post li {
    margin-bottom: 0.5em;
}

.post p img {
    border: 1px solid #eee;
    display: block;
    max-width: 100%;
}

.post img + .caption {
  padding-top: 5px;
}

.post .svg-container {
    margin-bottom: 5%;
    max-width: 100%;
    text-align: center;
}

video {
    height: auto;
    max-width: 100%;
}

.post .svg-container object {
    width: 100%;
}

/*--PAGINATION--*/

.pagination {
    text-align: center;
}

.pagination a {
    min-width: 30px;
    max-height: 30px;
    text-align: center;
}

/*--FOOTER--*/

footer {
    background: rgba(0, 0, 0, 0.05);
    padding: 2em;
    text-align: center;
}

/*--BUTTONS--*/

.button {
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 20px;
    color: #555;
    display: inline-block;
    font-size: 13px;
    line-height: 10px;
    padding: 10px 20px;
    transition: background-color .15s ease-out;
}

.button:hover {
    background-color: #3498db;
    border-color: transparent;
    color: #fff;
}

.button.inactive {
    background-color: #ccc;
    color: #fff;
}

/*--404--*/
.search-goog input {
    border: 2px solid #ddd;
    padding: 10px;
}

.search-goog input[type=submit] {
    background-color: #ddd;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /*--PAGE--*/

    #page,
    .wrapper {
        margin: 0;
        max-width: 100%;
        padding: 1.5em;
        width: 100%;
    }

    /*--WRAPPER--*/

    .wrapper {
        padding: 10% 0;
    }

    .wraper::after {
        clear: both;
        content: '';
        display: block;
    }

    /*--POSTS--*/

    .post {
        margin: 0 auto;
        max-width: 640px;
    }

}

/*--ACCESSIBILITY--*/
.outscreen {
    height: 1px;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/*--CALLOUT--*/
.callout {
    border: 1px solid #eee;
    border-left-color: #777;
    border-left-width: 5px;
    border-radius: 3px;
    font-size: 90%;
    padding: 20px;
    margin: 20px 0;
}

.author {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.author .name {
    line-height: 1.5;
    padding-top: 0.35em;
}

.media, .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.media .img {
    float: left;
}

.avatar-img {
    border-radius: 100%;
    height: 3.5em;
    margin-right: 0.5em;
    width: 3.5em;
}

/* SYNTAX HIGHLIGHTING */

.highlight {
    border: 1px solid #eee;
    margin-bottom: 1em;
    overflow-x: auto;
}

.code {
    background:white;
    color:#333333;
    display: block;
    letter-spacing: 0;
    overflow-x: auto;
}

.code .comment,
.code .meta {
    color:#969896;
}

.code .string,
.code .variable,
.code .template-variable,
.code .strong,
.code .emphasis,
.code .quote {
    color:#df5000;
}

.code .keyword,
.code .selector-tag,
.code .type {
    color:#a71d5d;
}

.code .literal,
.code .symbol,
.code .bullet,
.code .attribute {
    color:#0086b3;
}

.code .section,
.code .name {
    color:#63a35c;
}

.code .tag {
    color:#333333;
}

.code .title,
.code .attr,
.code .selector-id,
.code .selector-class,
.code .selector-attr,
.code .selector-pseudo {
    color:#795da3;
}

.code .addition {
    background-color:#eaffea;
    color:#55a532;
}

.code .deletion {
    background-color:#ffecec;
    color:#bd2c00;
}

.code .link {
    text-decoration: underline;
}

.code-wrap pre {
    white-space: pre-wrap;
}

.caption {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.codepen-aspect-ratio > iframe {
    height: 100%;
    position: absolute;
    width: 100%;
}
