/*--RESET--*/
* {

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    font: inherit;
}

input, button {
    background: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*--BODY--*/

body {
    background: #fff;
    color: #555;
    font-family: Georgia, Times;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    line-height: 1.725;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; /* fixes a too large font issue in horizontally scrollable <pre> on webkit */
}

@media(max-width: 800px) {
    body {
        font-size: 17px;
    }
}

@media(max-width: 600px) {
    body {
        font-size: 15px;
    }
}

h1, h2, h3, h4, h5 {
    color: #212121;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 1em;
}

#menu a, .button {

    font-weight: 400;
    font-size: 1em;
}

p, .post ul, .post ol, iframe, video, amp-video {
    margin: 0;
    margin-bottom: 1em;
}

a {
    color: #2a7cb2;
    text-decoration: none;
    font-weight: inherit;

    -webkit-transition: color .15s ease-out, border-bottom-color .15s ease-out;
       -moz-transition: color .15s ease-out, border-bottom-color .15s ease-out;
         -o-transition: color .15s ease-out, border-bottom-color .15s ease-out;
            transition: color .15s ease-out, border-bottom-color .15s ease-out;
}

a:hover {
    color: #2a7cb2;
}

p a {
    border-bottom: 1px solid #eee;
}

p a:hover {
    border-bottom-color: #212121;
}

strong {
    font-weight: 400;
}

em {
    font-style: italic;
}

h1 {font-size: 1.7em;}
h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: 400;
}
h3 {
    color: #666;
    font-size: 1.4em;
    font-weight: 400;
}
h4 {font-size: 1.18em;}
h5 {font-size: 1em;}


p + h2, p + h3, p + h4, p + h5 {
    padding-top: 1em;
}

a h1, a h2, a h3, a h4, a h5 {
    -webkit-transition: color .15s ease-out;
       -moz-transition: color .15s ease-out;
         -o-transition: color .15s ease-out;
            transition: color .15s ease-out;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5 {
    color: #3498db;
}

.quote {
    margin: 0 0 15px 0;
}

blockquote {
    margin: 0 0 15px 0;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    font-style: italic;
}

ul, ol {
    margin: 0 0 15px 0;
    padding-left: 25px;
}

ul {list-style: square;}
ol {list-style: decimal;}

sup {vertical-align: super;}
sub {vertical-align: sub;}

hr {
    display: block;
    clear: both;
    margin: 30px auto;
    width: 50%;
    height: 2px;
    background: #eee;
    color: #eee;
}

pre, code {
/*    overflow-x: auto;
    margin: 0 0 5% 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    font: 400 15px/24px monospace;*/
    overflow-x: auto;
    color: #333;
    font-family: Courier, Menlo, Monaco;
    letter-spacing: 0px;
    font-size: 0.8em;
}

pre {
    padding: 0.8em 1em;
}

code {
    margin: 0;
}

/*--CLEARFIXES--*/

.post::after {
    display: block;
    clear: both;
    content: '';
}

/*--HEADER--*/

body > header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    overflow: hidden;
    padding: 1em;
    width: 100%;
    border-bottom: 2px solid #eee;
    text-align: center;
}

/*--MENU--*/

#menu {
    display: inline-block;
    margin: 1px 0;
}

#menu a {
    margin-left: 15px;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 10px;
}

#menu a:hover {
    color: #212121;
}
#menu a.current {
    color: #212121;
}

/*--PAGE--*/

#page {
    position: relative;
    margin: 0 auto;
    padding: 3em 2em;
    max-width: 40em;
}

/*--WRAPPER--*/

.wrapper {
    padding: 7.5% 0;
    border-top: 2px solid #eee;
}

.wrapper:first-child {
    padding-top: 0;
    border-top: none;
}

/*--POSTS--*/

.post {
    display: block;
    width: 100%;
}

.post div[itemprop=articleBody] > p:first-child {
    color: #333;
}

.post li {
    margin-bottom: 0.5em;
}

.post p img {
    display: block;
    margin: 5% auto;
    max-width: 100%;
    border: 1px solid #eee;
}

.post .svg-container {
    text-align: center;
    margin-bottom: 5%;
    max-width: 100%;
}

video {
  height: auto;
  max-width: 100%;
}

.post .svg-container object {
    width: 100%;
}

.tags {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
}

.tag-list {
    padding: 0;
    display: inline-block;
}

.tag-list li {
    display: inline-block;
}

.tag-list li:after {
    content: ', ';
}

.tag-list li:last-child:after {
    content: '';
}


/*--PAGINATION--*/

.pagination {
    text-align: center;
}

.pagination a {
    min-width: 30px;
    max-height: 30px;
    text-align: center;
}

/*--FOOTER--*/

footer {
    padding: 2em;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}

/*--BUTTONS--*/

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #555;
    background-color: #fff;
    color: #555;
    font-size: 13px;
    line-height: 10px;

    -webkit-transition: background-color .15s ease-out;
       -moz-transition: background-color .15s ease-out;
         -o-transition: background-color .15s ease-out;
            transition: background-color .15s ease-out;
}

.button:hover {
    background-color: #3498db;
    color: #fff;
    border-color: transparent;
}

.button.inactive {
    background-color: #ccc;
    color: #fff;
}

/*--404--*/
.search-goog input {
    padding: 10px;
    border: 2px solid #ddd;
}

.search-goog input[type=submit] {
    background-color: #ddd;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /*--PAGE--*/

    #page, .wrapper {
        margin: 0;
        max-width: 100%;
        width: 100%;
        padding: 1.5em;
    }

    /*--WRAPPER--*/

    .wrapper {
        padding: 10% 0;
    }

    .wraper::after {
        display: block;
        clear: both;
        content: '';
    }

    /*--POSTS--*/

    .post {
        margin: 0 auto;
        max-width: 640px;
    }

}

/*--ACCESSIBILITY--*/
.outscreen
{
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*--CALLOUT--*/
.callout {
    font-size: 90%;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #777;
    border-radius: 3px;
}

.author {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.author .name {
    line-height: 1.5;
    padding-top: 0.35em;
}

.media, .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.media .img {
    float: left;
}

.avatar-img {
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    margin-right: 0.5em;
}

.highlight {
    border: 1px solid #eee;
    margin-bottom: 1em;
}

/* SYNTAX HIGHLIGHTING */

.highlight {
  overflow-x: auto;
}

.code{letter-spacing: 0; display:block;background:white;color:#333333;overflow-x:auto}.code .comment,.code .meta{color:#969896}.code .string,.code .variable,.code .template-variable,.code .strong,.code .emphasis,.code .quote{color:#df5000}.code .keyword,.code .selector-tag,.code .type{color:#a71d5d}.code .literal,.code .symbol,.code .bullet,.code .attribute{color:#0086b3}.code .section,.code .name{color:#63a35c}.code .tag{color:#333333}.code .title,.code .attr,.code .selector-id,.code .selector-class,.code .selector-attr,.code .selector-pseudo{color:#795da3}.code .addition{color:#55a532;background-color:#eaffea}.code .deletion{color:#bd2c00;background-color:#ffecec}.code .link{text-decoration:underline}
