ul.projects {
    font-size: 0.8em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.projects p {
    margin-bottom: 1em;
}

ul.projects > li {
    float: left;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 45%;
}

ul.projects > li:nth-child(2n+2) {
    margin-right: 0;
}

ul.projects > li.project-full {
    width: 100%;
}

ul.projects::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}

ul.projects .project-links a {
    border: 1px solid #f3f3f3;
    display: inline-block;
    margin-right: 1em;
    padding: 0.2em 1em;
    transition: border-color .15s ease-out;
}

ul.projects .project-links a:hover {
    border: 1px solid #999;
}

@media (max-width: 450px) {
    ul.projects > li {
        width: 100%;
    }
}
